*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 100px;
    height: auto;
    margin: 5px 20px;
}

.navitem{
    display: grid;
    align-items: center;
}

#collapsibleNavId ul{
    display: flex;
    gap: 20px;
}

#collapsibleNavId ul li a{
    padding-left: 5px;
}

#collapsibleNavId ul li a:hover{
    color: #F47521 !important;
}

.orange{
    background-color: #F47521 !important;
    border: none;
}

.orange:hover{
    background-color: #df6b1e !important;
}

.title{
    margin: 0;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
.card img {
    width: 200px;
    height: auto;
}

#more{
    cursor: pointer;
}

.non-active{
    height: 51.8vh;
    overflow: hidden;
}

.active{
    height: auto;
    overflow: visible;
}

#animes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 0 0 calc(23% - 20px); /* Establece el ancho de cada tarjeta, teniendo en cuenta el margen */
    margin: 10px; /* Añade un margen entre las tarjetas */
}

.card img {
    width: 100%;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor (la tarjeta) */
    height: auto; /* Mantiene la proporción original de la imagen */
}

span{
    color: red;
}

@media screen and (max-width: 576px) {
    /* Ajusta el estilo para pantallas más pequeñas si es necesario */
    .card {
        flex: 0 0 calc(55% - 20px); /* En pantallas más pequeñas, muestra 2 tarjetas por fila */
    }
}


@media screen and (max-width: 992px) {
    

    .card {
        flex: 0 0 calc(48% - 20px); /* Muestra 2 cartas por fila */
        margin-bottom: 20px; /* Añade un espacio entre las filas */
    }
    @media screen and (max-width: 576px) {
        /* Ajusta el estilo para pantallas más pequeñas si es necesario */
        .card {
            flex: 0 0 calc(55% - 20px); /* En pantallas más pequeñas, muestra 2 tarjetas por fila */
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}   

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 576px) {

    #collapsibleNavId ul{
        gap: 0;
    }

    .secretLiar{
        width: 350px;
        height: auto;
    }

    .filter{
        border-bottom: 1px solid #CCCCCC;
    }
}